.page .line{
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    margin: 5px 0 5px 0;
}
.plans{
    display: flex;
    gap: 50px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.plans .plan{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plans .plan img{
    width: 70px;
}
.plans .plan .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.plans .plan .price h1{
    font-size: 48px;
}
.plans .plan .price p{
    font-size: 18px;
    font-weight: 700;
}
