.page{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.page .left{
    width: 65%;
    /* background-color: white; */
}
.page .left .top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.page .left .top svg{
    cursor: pointer;
}
.page .left .drag{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
.page .left .drag.overlay{
    background-color: #777;
}
.page .left .drag img{
    width: 100px;
    height: 100px;
}
.page .right{
    position: sticky;
    width: 25%;
    top: 20px;
    right: 0;
    /* background-color: white; */
    height: 100vh;
    overflow: auto;
}
.page .right .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

 .pageination{
    display: flex;
    align-items: center;
}
.pagination .new{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.pageination .new:hover{
    background-color: #eee;
}