.page{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.page .left{
    width: 65%;
    /* background-color: white; */
}
.page .right{
    position: sticky;
    width: 25%;
    top: 20px;
    right: 0;
    /* background-color: white; */
    height: 100vh;
}

 .pageination{
    display: flex;
    align-items: center;
}
.pagination .new{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.pageination .new:hover{
    background-color: #eee;
}