.page{
    display: flex;
    gap: 20px;
}
.page .left{
    width: 70%;
    background-color: white;
}
.page .right{
    width: 25%;
}

 .pageination{
    display: flex;
    align-items: center;
}
.pagination .new{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.pageination .new:hover{
    background-color: #eee;
}